@using Microsoft.AspNetCore.Http

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-action="Dashboard" asp-controller="Admin" class="brand-link">
        <img src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Bienvenido: @Context.Session.GetString("_Nombre")</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Usuarios" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Usuarios

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Roles" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            Roles

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="AsignarRolesUsuario" asp-controller="Roles" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            Asignar roles

                        </p>
                    </a>
                </li>

                @{
            if (User.IsInRole("Administrador")) { 
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Empleados" class="nav-link">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>
                                Empleados

                            </p>
                        </a>
                    </li>
                    }
                }

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Cargos" class="nav-link">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>
                            Cargos

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="CerrarSesion" asp-controller="Usuarios" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Cerrar Sesión
                            <span class="right badge badge-danger">Salir</span>
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>