@{
    Layout = null;

}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<h1>Confirmación</h1>

<div class="container">
    <div class="row">
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Recuperar contraseña</p>

            <div class="alert alert-success" role="alert">
               Password reseteado con éxito
            </div>
            <div>
                <a asp-action="Login">Login</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}