@model CrudEmpleados.Business.Dtos.EmpleadoDto

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearEditarEmpleado" asp-route-id="@Model.EmpleadoId" enctype="multipart/form-data">
            <input type="hidden" asp-for="EmpleadoId" />
            <input type="hidden" asp-for="Estado" />
            <input type="hidden" asp-for="RutaImagen" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <br />
                <input type="file" asp-for="Imagen" accept="image/*" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <table class="table" id="tabla">
                <thead>
                    <tr>
                        <th>Seleccionar</th>
                        <th>Cargo</th>                        
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Cargos.Count(); i++)
                    {
                    <tr>
                        @Html.HiddenFor(m => m.Cargos[i].CargoId)
                        <td>
                            @Html.CheckBoxFor(m => m.Cargos[i].Seleccionado)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Cargos[i].Nombre)
                        </td>

                    </tr>

                    }

                </tbody>

            </table>




                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
